<ion-row>
  <ion-col col-2>
    <ion-row class="reviewer_photo_row">
      <img *ngIf="client?.picture" src="{{client?.picture}}" alt="">
      <ion-icon class="reviewer_photo" *ngIf="!(client?.picture)" name="contact"></ion-icon>
    </ion-row>
  </ion-col>
  <ion-col col-7>
    <ion-row>{{review.title}}</ion-row>
    <ion-row>{{review.description}}</ion-row>
  </ion-col>
  <ion-col col-3>
    <ion-row class="max_height">
      <review-stars class="stars" [rate]="review.rate"></review-stars>
    </ion-row>
  </ion-col>
</ion-row>