review-list-item {
    .reviewer_photo {
        font-size: 35px;
        margin: auto;
    }
    .stars {
        margin: auto;
    }
    .max_height {
        height: 100%;
    }
    .reviewer_photo_row {
        height: 100%;
    }
}
