.border-radius-50 {
    border-radius: 50%;
}
.margin-auto {
    margin: auto;
}
.padding-left-0 {
    padding-left: 0;
}
.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
.height-100 {
    height: 100%;
}
.capitalize-first-letter::first-letter {
    text-transform: capitalize;
}
.bold {
    font-weight: bold;
}
.black-color {
    color: black !important;
}
.font-size-m {
    font-size: calculateRem(20px);
}
.font-size-l {
    font-size: calculateRem(35px);
}
.padding-right-m {
    padding-right: calculateVw(15px) !important;
}
.no-padding-bottom {
    padding-bottom: 0;
}
.margin-bottom-auto {
    margin-bottom: auto;
}
.margin-left-auto {
    margin-left: auto;
}
.margin-right-auto {
    margin-right: auto;
}
.font-size-s {
    font-size: calculateRem(17px);
}
.color-primary {
    color: color($colors, primary);
}
.margin-bottom-s {
    margin-bottom: calculateVw(5px);
}
.padding-left-s {
    padding-left: calculateVw(5px);
}
.margin-bottom-m {
    margin-bottom: calculateVw(10px);
}
.margin-bottom-l {
    margin-bottom: calculateVw(30px);
}
.no-margin {
    margin: 0;
}
