<ion-header no-border>
  <common-navbar [hasLogoutButton]="true" [hasSettingsButton]="true"></common-navbar>
  <shrinking-header [scrollArea]="profileContent" [headerHeight]="shrinkingHeaderHeight">
    <ion-row class="height-100">
      <ion-col col-auto class="margin-bottom-auto margin-left-auto margin-right-auto">
        <ion-row class="user_img_row">
          <img class="user_img border-radius-50 margin-bottom-auto margin-left-auto margin-right-auto"
            *ngIf="personalTrainer?.picture" src="{{personalTrainer?.picture}}" alt="">
          <ion-icon *ngIf="!(personalTrainer?.picture)"
            class="default_user_img margin-bottom-auto margin-left-auto margin-right-auto" name="contact"></ion-icon>
        </ion-row>
        <ion-row>
          <h2 class="margin-auto">{{personalTrainer?.name}}</h2>
        </ion-row>
      </ion-col>
    </ion-row>
  </shrinking-header>
</ion-header>

<ion-content padding #profileContent no-bounce>
  <ion-row>
    <h2>Reviews</h2>
  </ion-row>
  <reviews-list [reviewsList]="reviewsList"></reviews-list>
  <ion-row *ngIf="reviewsList.length == 0">
    <ion-col class="padding-left-0 font-size-m bold">There are no reviews for you yet.</ion-col>
  </ion-row>
</ion-content>