exercise-categoty-card {
    .card-image {
        height: calculateVw(90px);
    }
    .category-card-row {
        box-shadow: calculateVw(10px) calculateVw(10px) calculateVw(5px) 0 rgba(0, 0, 0, 0.3);
        position: relative;
        text-align: center;
    }
    .card-title-row {
        bottom: 0;
        font-size: calculateRem(25px);
        font-weight: bold;
        color: #fff;
        margin: auto;
        margin-top: calculateVw(7px);
    }
    .button {
        padding: calculateVw(10px) calculateVw(25px);
        font-size: calculateRem(24px);
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4caf50;
        border: none;
        border-radius: 20%;
        box-shadow: 0 calculateVw(9px) #999;
    }
    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 calculateVw(5px) #666;
        transform: translateY(4px);
    }
}
