client-list-item {
    .client_photo {
        border-radius: 50%;
    }
    .more_icon {
        margin-top: auto;
    }
    .client_name {
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
    }
    .client_name_row {
    }
    .max_height {
        height: 100%;
    }
}
