client-list-item {
    .client_photo {
        border-radius: 50%;
    }
    .more_icon {
        margin-top: auto;
    }
    .client_name {
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .input-item {
        padding-left: 0;
        .item-inner {
            padding-right: 0 !important;
        }
    }
}
