<ion-item-sliding #item>
  <ion-item>
    <ion-row>
      <ion-col col-2>
        <ion-row class="reviewer_photo_row">
          <img class="client_photo" *ngIf="client?.picture" src="{{client?.picture}}" alt="">
          <ion-icon *ngIf="!(client?.picture)" name="contact"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col col-9>
        <ion-row class="max_height">
          <span class="client_name">{{client?.name}} {{client?.surname}}</span>
        </ion-row>
      </ion-col>
      <ion-col col-1>
        <ion-row class="max_height">
          <ion-icon class="more_icon" name="more"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item-options side="right">
    <button *ngIf="client?.gymSheetId" ion-button (click)="favorite(item)">Edit Gym Sheet</button>
    <button *ngIf="!(client?.gymSheetId)" ion-button (click)="favorite(item)">Create Gym Sheet</button>
    <button ion-button color="danger" (click)="share(item)">Contact</button>
  </ion-item-options>
</ion-item-sliding>