page-exercise-detail {
    .exercise-image {
        height: calculateVw(120px);
    }
    .close-button {
        font-size: calculateRem(50px);
    }
    .input-item {
        padding-left: 0;
        .item-inner {
            border-bottom: 0 !important;
            padding-right: 0 !important;
        }
    }
    .input-icon {
        font-size: calculateRem(50px);
    }
}
