<ion-header no-border>
  <common-navbar [hasLogoutButton]="false" [hasSettingsButton]="false" [hasCloseButton]="true"
    (closeButtonClicked)="onCloseButtonClicked()"></common-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <img class="exercise-image border-radius-50 margin-auto" src="{{exercise?.image}}" alt="">
  </ion-row>
  <ion-row>
    <p class="margin-auto">{{exercise?.name}}</p>
  </ion-row>
  <ion-row>
    <p class="margin-auto">{{exercise?.description}}</p>
  </ion-row>
  <ion-row>
    <p class="margin-auto">{{exercise?.comment}}</p>
  </ion-row>
  <ion-row>
    <ion-col>
      <exercise-muscles-list [exerciseMuscles]="exerciseMuscles"></exercise-muscles-list>
    </ion-col>
    <ion-col>
      <exercise-equipments-list [exerciseEquipments]=exerciseEquipments></exercise-equipments-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <button (click)="decreaseReps()" icon-only ion-button clear>
        <ion-icon class="input-icon bold" name="remove"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6>
      <ion-item class="input-item height-100">
        <ion-label class="font-size-s bold">Reps</ion-label>
        <ion-input class="font-size-s" step="1" min="1" [(ngModel)]="reps" type="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <button (click)="increaseReps()" icon-only ion-button clear>
        <ion-icon class="input-icon bold" name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <button (click)="decreaseSets()" icon-only ion-button clear>
        <ion-icon class="input-icon bold" name="remove"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6>
      <ion-item class="input-item height-100">
        <ion-label class="font-size-s bold">Sets</ion-label>
        <ion-input class="font-size-s" step="1" min="1" [(ngModel)]="sets" type="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <button (click)="increaseSets()" icon-only ion-button clear>
        <ion-icon class="input-icon bold" name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <button (click)="decreaseRest()" icon-only ion-button clear>
        <ion-icon class="input-icon bold" name="remove"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6>
      <ion-item class="input-item height-100">
        <ion-label class="font-size-s bold">Rest (in seconds)</ion-label>
        <ion-input class="font-size-s" step="5" min="0" [(ngModel)]="rest" type="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <button (click)="increaseRest()" icon-only ion-button clear>
        <ion-icon class="input-icon bold" name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer padding>
  <button class="font-size-m bold" *ngIf="!exercise.isAdded" (click)="onAddButtonClicked()" ion-button
    block>Add</button>
  <button class="font-size-m bold" *ngIf="exercise.isAdded" (click)="onEditButtonClicked()" ion-button
    block>Edit</button>
  <button class="font-size-m bold" *ngIf="exercise.isAdded" (click)="onRemoveButtonClicked()" ion-button block
    color="danger">
    Remove
  </button>
</ion-footer>